#playground {
	margin-top: 75px;
}

.listThumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
position:relative;
    height: 170px;
    line-height: 1.42857;
    margin-bottom: 20px;
    max-width: 100%;
    padding: 20px;
    transition: all 0.2s ease-in-out 0s;
}


div#listItemInfo {
	left: 170px;
	position: absolute;
	top: 33px;
	font-size: 12px;
	margin-top: auto;
	margin-bottom: auto;
}

p#listItemDate {
	right: 10px;
	position: absolute;
	top: 12px;
	font-size: 10px;
}

p#listItemTitle {
	color: 666;
	font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 1.42857;
	padding-bottom: 10px;
}

#map-canvas {
       height: 400px;
	   width: 400px;
       margin: 0px;
       padding: 0px
     }

