html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0 none;
	margin: 0;
	padding: 0;
}

a img {
	border: 0 none;
}

*, *:before, *:after {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

body {
	background-color: #68cbfa;
	color: #505050;
	font: 13px/1.231 arial,sans-serif;
	min-height: 100%;
	font-size: 14px;
	line-height: 1.42857;
}

.ui-menu .ui-menu-item a {
    display: block;
    font-weight: 400;
    line-height: 2.5;
    min-height: 0;
    padding: 2px 0.4em;
    text-decoration: none;
}

.ui-widget-content a {
    color: #317dec;
}

a {
	color: #317dec;
	text-decoration: none;
}

a:visited {
	color: #317dec;
}

a:hover {
	text-decoration: underline;
}

a:active, a:focus {
	outline: medium none;
}

input {
	font-family: inherit;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
	-moz-appearance: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: medium none;
	padding: 0.2em;
	transition: border 0.1s linear 0s;
	color: #317dec;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
	border: 1px solid #317dec;
	transition: border 0.1s linear 0s;
}

.well {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 19px;
}

#playground {
	margin-top: 75px;
}

.listThumbnail {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: block;
	position:relative;
	height: 96px;
	line-height: 1.42857;
	width: 100%;
	padding: 20px;
	transition: all 0.2s ease-in-out 0s;
}

.detailsThumbnail {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: block;
	position:relative;
	height: 500px;
	line-height: 1.42857;
	margin-bottom: 20px;
	max-width: 100%;
	padding: 20px;
	transition: all 0.2s ease-in-out 0s;
}


div#listItemInfo {
	left: 170px;
	position: absolute;
	top: 33px;
	font-size: 12px;
	margin-top: auto;
	margin-bottom: auto;
}

p#listItemDate {
	right: 20px;
	position: absolute;
	top: 22px;
	font-size: 9px;
}

p#listItemTitle {
	color: 666;
	font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 1.42857;
	padding-bottom: 10px;
}

.listThumbnail p#listItemTitle{
	position: absolute;
	left: 150px;
	top: 5px;
}

.listThumbnail #listItemImage{
	position: absolute;
	left: 0px;
	top: 0px;
}

.listThumbnail #listItemInfo {
	left: 150px;
	top: 25px;
}

#map-canvas {
	height: 400px;
	width: 400px;
	margin: 0;
	padding: 0px
}

#map-canvas-list {
	height: 577px;
	width: 565px;
	margin: 0;
	padding: 0px
}

#mapContainer {
	position:absolute; 
	top: 53px; 
	right: 20px;
}

#mapContainerList {
    float: right;
    position: relative;
    right: 0;
    top: -577px;
	border: 1px solid #505050;
}

.nopadding {
	padding: 0;
}

.list {
	width: 565px;
	height: 577px;
	overflow-y: scroll; 
}

.header {
	height: 50px;
	width: 1170px;
	margin: auto;
}

.header input[type="text"] {
	font-size: 20px;
	height: 30px;
	width: 400px;
	margin-bottom: 2px;
}

.content {
	padding: 65px 0 0 0 ;
	height: 577px;
	width: 1170px;
	margin: auto;
}

#infoWindow {
	margin: 10px;
	min-width: 300px;
	white-space: nowrap;
}

#infoWindow #textInfo {
	position: absolute;
	left: 165px;
	top: 55px;
		white-space: nowrap;
}

#searchButton {
    background-color: #317dec;
    border-color: #d6d0c8;
    border-image: none;
    border-radius: 6px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    color: #fff;
    float: right;
    font-size: 20px;
    line-height: 1.25em;
    margin: 0;
    padding: 6px 0.5em 7px;
    position: relative;
    right: 0;
    top: -34px;
    width: 200px;
}

#searchButton:hover {
    background-color: #2764BC;
    cursor: pointer;
}

#autocomplete.ui-autocomplete-loading {
	background-image: url(loading.gif);
	background-position: right center;
	background-repeat: no-repeat;
}
	
