


​<div class="header">
	<form class="well form-search">
		<div id="customInputText">
			<input ng-model="keywords" class="input-medium search-query" id="autocomplete" size="12" name="searchField" type="text" placeholder="Gata, ort eller kommun">
			
		</div>
		<input type="checkbox" ng-model="soldObjects" name="soldItems" id="sold-checkbox" ng-change="search()" > Visa slutpriser
		<button type="submit" id="searchButton" ng-click="search()">Search</button>
		
		<div id="sortingDiv"> 
			Sortering: 
			<select ng-model="orderProp" ng-click="newSearchOrder()">
				<option value="location.address.streetAddress">A-Ö</option>
				<option value="published">Längst på Booli</option>
				<option value="-published">Senast publicerad</option>
			</select>
		</div>
	</div>
</form>	
</div>

<div class="content">
<div class="list">
	<div ng-repeat="listing in listings | filter:query | orderBy:orderProp | pagination: currentPage * pageSize | limitTo: pageSize" class="listThumbnail search-listing"  ng-click=listItemClicked(listing)>		
		<div>
			<img src="http://api.bcdn.se/cache/primary_{{listing.booliId}}_140x94.jpg" id="listItemImage" />
			<div>
				<a href="#/bostad/{{listing.booliId}}">
					<p id="listItemTitle">{{listing.location.address.streetAddress}}</p>
				</a>
				<p id="listItemDate">{{listing.published | date }} </p>
			</div>
			<div id="listItemInfo">
				{{listing.location.namedAreas[0]}} <br>
				{{listing.listPrice | nfcurrency }} <br>
				{{listing.livingArea | kvm }},  {{listing.rooms | room}} 		
			</div>
		</div>				
	</div>
	<div id="paginationView">
		<button ng-disabled="currentPage == 0" ng-click="previousPage()">Previous</button>
		{{currentPage +1 }} / {{numberOfPages()}}
		<button ng-disabled="currentPage >= totalCount/pageSize - 1" ng-click="nextPage()">Next</button>
	</div>
</div>
	
	

<div id="mapContainerList">
	<div id="map-canvas-list"></div>
</div>
</div>
</div>
