
<div>
	detail view for <span>{{booliId}}</span>

	<div>
		<div ng-click="openUrl(listing.url)" class="detailsThumbnail search-listing" >
			<div>
				<p id="listItemTitle">{{listing.location.address.streetAddress}}, {{listing.location.namedAreas[0]}}</p>
				<p id="listItemDate">{{listing.published}} </p>
			</div>
			<img src='{{listing.imageUrl}}' />
			<div id="listItemInfo">
				<br>Typ        : {{listing.objectType}} 
				<br>Pris       : {{listing.listPrice}}
				<br>Rum        : {{listing.rooms}} 
				<br>Area       : {{listing.livingArea}} 
			</div>
			
			<div id="mapContainer">
				<div id="map-canvas"></div>
				<div>
				</div>
			</div>	
		</div>
	</div>
</div>