<div class="container-fluid">
	<div>
	
	<form class="well form-search">
		<div id="customInputText">
			<input ng-model="keywords" class="input-medium search-query" size="12" name="searchField" type="text">
		</div>
		<button type="submit" class="btn" ng-click="search()">Search</button>
		<p class="help-block"></p>		
	</form>
	
</div>
	<div class="row" style="padding: 0px">
		<div class="col-md-6" style="padding: 0px">
			<!--Body content-->

			<div ng-repeat="listing in listings | filter:query | orderBy:orderProp"  class="listThumbnail search-listing"  >
				<div ng-click="openUrl(listing.url)">
					<div>
						<a href="#/bostad/{{listing.booliId}}">
							<p id="listItemTitle">{{listing.location.address.streetAddress}}, {{listing.location.namedAreas[0]}}</p>
						</a>
						<p id="listItemDate">{{listing.published}} </p>
					</div>
					<img src='{{listing.imageUrl}}' />
					<div id="listItemInfo">
						<br>Typ        : {{listing.objectType}} 
						<br>Pris       : {{listing.listPrice}}
						<br>Rum        : {{listing.rooms}} 
						<br>Area       : {{listing.livingArea}} 
						<br>Hyra       : {{listing.rent}}						
					</div>
				</div>				
			</div>

		
		</div>
		
		<div class="col-md-6">
			<div id="mapContainerList">
				<div id="map-canvas-list"></div>
			</div>
			
		</div>
	</div>
	
	<div class="debug">
		<p class="text-info">{{ listings | json}}</p>
	</div>
</div>