
<div class="content"  data-ng-init="init()">
	<div class="detailsThumbnail">
		<img src="http://api.bcdn.se/cache/primary_{{listing.booliId}}_140x94.jpg" id="listItemImage" />
		<div id="listItemTitle">
			<h1>
				{{listing.location.address.streetAddress}}
			</h1>
			<div ng-repeat="area in listing.location.namedAreas">{{area}}</div>
			{{listing.objectType}} -
			<a href="{{listing.url}}" target="_blank">
				Mäklarbeskrivning
			</a>

		</div>
		<p id="listItemDate">
			{{listing.published | published }}
		</p>

		<div id="listItemInfo" ng-include src="detailsUrl" />
		
		<div id="mapContainer">
			<div id="map-canvas"></div>
			<div>
			</div>
		</div>
	</div>
</div>
