<div class="header" data-ng-init="init()">
	<form class="well form-search">
		<div id="customInputText">
			<input type="text" ng-model="searchWords" value="'{{searchWords}}'"
			class="input-medium search-query" placeholder="Gata, ort eller kommun"
			autocomplete size="12" name="searchWords" />
		</div>

		<div ng-controller="DatePickerCtrl as ctrl"  id="filterDate">
			Från <input ng-model="ctrl.startDate" id="startDate" ui-date="ctrl.startDateOptions" type="text" >
			till <input ng-model="ctrl.endDate" id="endDate" ui-date="ctrl.endDateOptions" type="text" >
		</div>

		<button type="submit" id="searchButton" ng-click="searchObjects()">Sök</button>

		<div id="sortingDiv">
			Sortering:
			<select ng-model="orderProp" ng-change="newSearchOrder()">
				<option value="-listings.length">Antal objekt</option>
				<option value="-highestKvm.price">Högst kvadratmeterspris</option>
				<option value="lowestKvm.price">Lägst kvadratmeterspris</option>
				<option value="-averageKvmPrice">Medelvärde</option>
				<option value="-medianKvmPrice">Medianvärde</option>
			</select>
		</div>
	</form>
</div>
<div class="content" id="result">
	<div class="data">
		<p id="listItemTitle">{{keywords}} - {{profits.length}} st</p>

		<div id="kvmInfo">
			<b>Kvadratmeterpris</b> <br>
			<div ng-click=itemClicked(highestKvm.listing)>
				Dyrast, <i id="address">{{highestKvm.listing.location.address.streetAddress}}</i>
				<div id="kvmPrice">
					{{ highestKvm.price | kvmprice}}
				</div>
			</div>
			<div ng-click=itemClicked(lowestKvm.listing)>
				Billigast, <i id="address">{{lowestKvm.listing.location.address.streetAddress}}</i>
				<div id="kvmPrice">
					{{ lowestKvm.price | kvmprice}}
				</div>
			</div>
			Medelvärde
			<div id="kvmPrice">
				{{averageKvmPrice | kvmprice}}
			</div>
			<br>
			Medianvärde
			<div id="kvmPrice">
				{{medianKvm | kvmprice }}
			</div>
			<br>
			Variationsbredd
			<div id="kvmPrice">
				{{ highestKvm.price - lowestKvm.price | kvmprice }}
			</div>
			<br>
		</div>
		<div class="list">
			<div ng-repeat="broker in brokers | orderBy:orderProp" >
				<div id="broker">
					<b>{{broker.broker}}</b>, {{broker.listings.length}} st<br>
					<div ng-click=itemClicked(broker.highestKvm.listing)>
						Dyrast, <i id="address">{{broker.highestKvm.listing.location.address.streetAddress}}</i>
						<div id="kvmPrice" ng-class="{negative: (broker.highestKvm.price != 0 && broker.highestKvm.price-averageKvmPrice < 0), positive: (broker.highestKvm.price-highestKvm.price == 0)}">
							{{broker.highestKvm.price | kvmprice }}
						</div>
					</div>
					<div ng-click=itemClicked(broker.lowestKvm.listing)>
						Billigast, <i id="address">{{broker.lowestKvm.listing.location.address.streetAddress}}</i>
						<div id="kvmPrice" ng-class="{positive: (broker.lowestKvm.price-averageKvmPrice > 0)}">
							{{broker.lowestKvm.price | kvmprice }}
						</div>
					</div>
					Medelvärde
					<div id="kvmPrice" ng-class="{negative: (broker.averageKvmPrice != 0 && broker.averageKvmPrice-averageKvmPrice < 0), positive: (broker.averageKvmPrice-averageKvmPrice > 0)}">
						{{broker.averageKvmPrice | kvmprice }}
					</div>
					<br>
					Medianvärde
					<div id="kvmPrice" ng-class="{negative: (broker.medianKvmPrice != 0 && broker.medianKvmPrice-medianKvm < 0), positive: (broker.medianKvmPrice-medianKvm > 0)}">
						{{broker.medianKvmPrice | kvmprice }}
					</div>
					<br>
					Variationsbredd
					<div id="kvmPrice">
						{{broker.variationKvmPrice | kvmprice }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="tabs">
		<section class="tab" ng-controller="TabController as panel">
			<ul>
				<li ng-class="{active:panel.isSelected(2)  }">
					<a href ng-click="panel.selectTab(2)">Diagram</a>
				</li>
				<li ng-class="{active:panel.isSelected(1) }">
					<a href ng-click="panel.selectTab(1)">Karta</a>
				</li>
			</ul>
			<br />
			<div id="border">
			<div ng-show="panel.isSelected(1)">
				<div id="map"></div>
			</div>
			<div ng-show="panel.isSelected(2)">
				<div id="chart_div" style="width: 700px; height: 577px; position: relative;" data-ng-init="init()"  ng-controller="ChartCtrl"/>
			</div>
		</div>

		</section>
	</div>
</div>
