<div>
	<img src="http://api.bcdn.se/cache/primary_{{listing.booliId}}_140x94.jpg" id="listItemImage" />
	<div>
		<a href="#/bostad/{{listing.booliId}}">
			<p id="listItemTitle">{{listing.location.address.streetAddress}}</p>
		</a>
		<p id="listItemDate">{{listing.published | published }} </p>
	</div>
	<div id="listItemInfo">
		<div>
			{{listing.location.namedAreas[0]}}
		</div>
		<div ng-class="{hidden: !listing.listPrice}">
			{{listing.listPrice | nfcurrency }} <br>
		</div>
		<div ng-class="{hidden: !listing.livingArea}">
			{{listing.livingArea | kvm }},  {{listing.rooms | room}}
		</div>
	</div>
</div>
